<article>
    <div class="post-card-content">
        <header>
            <h3><a href="{{url}}">{{title}}</a></h3>
        </header>
        <section class="post-card-excerpt">
            <p>{{excerpt words="44"}}</p>
        </section>
    </div>{{!--/.post-card-content--}}
</article>
