{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article>

            <header class="post-full-header">
                <h2 class="post-full-title">{{title}}</h2>
            </header>

            <section class="post-full-content">
                <div class="post-content">
                    <div class="search" method="GET" action="">
                        <input id="searchText" class="ctrl" name="searchText" type="text">
                        <label class="ctrl-label" for="searchText">Search Text</label>
                        <button class="form-submit" type="submit">Submit</button>
                    </div>
                    <br/>
                    This search uses DuckDuckGo. It may not be fully up to date, or accurate.
                </div>
            </section>

        </article>

    </div>
</main>

{{/post}}

{{#contentFor "scripts"}}
<script>
    document.getElementsByClassName('search')[0].addEventListener('submit', (e) => {
        e.preventDefault();
        const searchText = e.target.querySelector('input').value;
        const actualSearch = encodeURIComponent(searchText + " " + "site:www.whynotavailable.com");
        const searchUri = `https://duckduckgo.com/?q=${actualSearch}&ia=web`
        window.location = searchUri;
    });

    document.querySelector('.search input').addEventListener('focusout', (e) => {
    const input = e.target;
    if (input.value === "") {
        input.classList.remove('filled');
    }
    else {
        input.classList.add('filled');
    }
})
</script>
{{/contentFor}}
