@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');

.site-wrapper {
    margin: 1rem;
}

body {
    background-color: #222831;
    color: #eeeeee;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.nav {
  margin: .5rem;
  padding: 0;
  font-size:0.9rem
}

.nav > li {
    display: inline;
    margin-right: 1rem;
}

a {
    color: #eeeeee;
}

hr {
    color: #393e46;
}

h1, h2, h3, h4, h5, h6 {
    color: #00adb5;
    font-family: 'Lora', serif;
}

h1 > a {
  color: #00adb5;
  text-decoration: none;
}

.kg-width-wide {}
.kg-width-full {}
.kg-gallery-container {}
.kg-gallery-row {}
.kg-gallery-image {}
.kg-bookmark-card {
    width: 100%;
    position: relative;
    margin: 1.25rem 0;
}

.kg-bookmark-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    color: currentColor;
    font-family: inherit;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.kg-bookmark-container:hover {
    text-decoration: none;
}

.kg-bookmark-content {
    flex-basis: 0;
    flex-grow: 999;
    padding: 1rem;
    order: 1;
}

.kg-bookmark-title {
    font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
    margin-top: .5em;
}

.kg-bookmark-metadata {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kg-bookmark-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.kg-bookmark-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    margin-right: .5em;
    margin-bottom: .12em;
}

.kg-bookmark-thumbnail {
    display: flex;
    flex-basis: 24rem;
    flex-grow: 1;
}

.kg-bookmark-thumbnail img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    object-fit: cover;
}

.kg-bookmark-author {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.kg-bookmark-publisher::before {
    content: "-";
    margin: 0 .5em;
}

/**
 * Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 * Modified to add inset border
 */

 code[class*="language-"],
 pre[class*="language-"] {
     color: #f8f8f2;
     background: none;
     text-shadow: 0 1px rgba(0, 0, 0, 0.3);
     font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     word-wrap: normal;
     line-height: 1.5;
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
     
 }
 
 /* Code blocks */
 pre[class*="language-"] {
     padding: .5rem;
     overflow: auto;
     border-radius: 0.3em;
     box-shadow: inset 0 1px 10px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,0.3),0 -1px 0 rgba(0,0,0,.3);
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
     background: #282a36;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
     padding: .1em;
     border-radius: .3em;
     white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: #6272a4;
 }
 
 .token.punctuation {
     color: #f8f8f2;
 }
 
 .namespace {
     opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
     color: #ff79c6;
 }
 
 .token.boolean,
 .token.number {
     color: #bd93f9;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
     color: #50fa7b;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
     color: #f8f8f2;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
     color: #f1fa8c;
 }
 
 .token.keyword {
     color: #8be9fd;
 }
 
 .token.regex,
 .token.important {
     color: #ffb86c;
 }
 
 .token.important,
 .token.bold {
     font-weight: bold;
 }
 
 .token.italic {
     font-style: italic;
 }
 
 .token.entity {
     cursor: help;
 }
